@use "@carbon/react/scss/spacing";
@use "@carbon/react/scss/theme";
@use "@carbon/react/scss/type";

.navLink {
  outline: none;
  color: unset;
  text-decoration: none;
}

.sideNavItem:active,
.sideNavItem:focus {
  border-left: spacing.$spacing-02 solid theme.$link-primary;
  outline: none;
  background-color: theme.$layer-selected-01;
  color: unset;
  text-decoration: none;
}

.sideNavItem {
  border-left: spacing.$spacing-02 solid transparent;
  @include type.type-style("body-01");
  transition:
    background-color 0.2s ease,
    border-color 0.2s ease;
}
